.trendSwiper .swiper {
	padding-top: 50px;
}

.trendSwiper .swiper-slide {
	width: 240px;
	height: auto;
	background-position: center;
	background-size: cover;
}

.trendSwiper .swiper-slide img {
	display: block;
	width: 100%;
	border-radius: 0px;
}
